@page
@model BiblePathsCore.Pages.PBE.ChallengedQuestionsModel

@{
    ViewData["Title"] = "PBE Challenged Questions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <span>
            @if (Model.IsCommentary)
            {
                <strong>@Model.BookName</strong>
            }
            else
            {
                <strong>@Model.BookName @Model.Chapter</strong>
            }
        <a class="small" asp-page="/Shared/SelectChapter" asp-route-BibleId="@Model.BibleId" asp-route-TargetPage="/PBE/ChallengedQuestions">  Change Book/Chapter  </a>
            <br />
        </span>
    </div>
    <hr />
    @foreach (var question in Model.Questions)
    { 
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        @{string VerseRef = question.BookName + " " + question.Chapter + ": " + question.StartVerse;
                            if (question.EndVerse > question.StartVerse) { VerseRef += " - " + question.EndVerse; }
                        }
                        <span><strong>Question: </strong> @question.PBEQuestion</span> <br />
                        <span><strong>Answers: </strong></span>
                        @foreach (var answer in question.QuizAnswers)
                        {
                            <span><em>@answer.Answer</em></span> <br />
                        }
                        <span><small>Owner: @question.Owner</small></span> <br />
                        <span><small>Source: @question.Source</small></span> <br />
                        <span><small>Last Asked: @String.Format("{0:M/d/yyyy HH:mm}", question.LastAsked)</small></span> <br />

                        @if (question.Challenged == true)
                        {
                            <div class="card">
                                <div class="card-header bg-danger">
                                    @if (question.ChallengedBy == null)
                                    {
                                        <span class="card-title">Question Challenged</span>
                                    }
                                    else
                                    {
                                        <span class="card-title">Question Challenged by @question.ChallengedBy</span>
                                    }

                                </div>
                                <div class="card-body">
                                    <span class="card-text">@question.ChallengeComment</span><br />
                                    <span class="card-text text-info">Edit this question to fix and remove the challenge. A challenged question will not appear in a quiz until the challenge is removed.</span>
                                </div>
                            </div>
                        }

                        @if (question.IsCommentaryQuestion == false)
                        {
                            <button data-toggle="collapse" data-target="#Verses-@question.Id" class="btn btn-link"
                                    onclick="GetBibleVerses(@question.Id, @question.BookNumber, @question.Chapter, @question.StartVerse, @question.EndVerse)">
                                @VerseRef
                            </button>
                            <div id="Verses-@question.Id" class="collapse">
                                <P><small>Loading...</small></P>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-2">
                <a class="btn btn-outline-primary btn-sm" asp-page="EditQuestion" asp-route-QuestionId="@question.Id" asp-route-Caller="ChallengedQuestions">Edit</a>
                <br />
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#DeleteModal-@question.Id">
                    Delete
                </button>
                <div class="modal fade" id="DeleteModal-@question.Id" tabindex="-1" role="dialog" aria-labelledby="Delete Path" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete this Question?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="font-italic">Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <form asp-page="/PBE/DeleteQuestion" method="post">
                                    <input type="hidden" name="id" value="@question.Id" />
                                    <input type="hidden" name="ReturnPath" value="ChallengedQuestions" />
                                    <input type="submit" value="Confirm" class="btn btn-danger" />
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<div>
    <hr />
    <a asp-page="/PBE/Index">Back to PBE Home</a>
</div>

@section Scripts {
    <partial name="_GetVerseText" />
}