@page
@model BiblePathsCore.Pages.PBE.EditBookListModel

@{
    ViewData["Title"] = "Edit a BookList";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.BookList.Id" />
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input type="hidden" asp-for="@Model.BookList.BookListName" />
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Book</span>
                    </div>
                    <input type="hidden" asp-for="@Model.Books[0].Id" />
                    <select asp-for="Books[0].BookNumber" asp-items="ViewBag.BookSelectList" class="form-control" id="BookSelect-0"></select>
                </div>
                @for (var i = 1; i <= 9; i++)
                {
                    <div id="AddBook-@i" class="hide-on-start">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Book</span>
                            </div>
                            <input type="hidden" asp-for="@Model.Books[i].Id" />
                            <select asp-for="Books[i].BookNumber" asp-items="ViewBag.BookSelectList" class="form-control" id="BookSelect-@i"></select>
                        </div>
                    </div>
                }
                <div id="AddAnotherButton">
                    <a href="#" onclick="AddAnother()">Add Another Book</a>
                </div>
                <br />
                <div class="form-group input-group">
                    <input type="hidden" asp-for="BibleId" />
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">
            Delete
        </button>
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete Path" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete this Book List?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="font-weight-bold">@Model.BookList.BookListName</p>
                        <br />
                        <p class="font-italic">By deleting this BookList any Quizzes that reference this will no longer function and you will be unable to calculate statistics for them.</p>
                    </div>
                    <div class="modal-footer">
                        <form asp-page="/PBE/DeleteBookList" method="post">
                            <input type="hidden" name="id" value="@Model.BookList.Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger" />
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <hr />
    <a asp-page="BookLists" asp-route-BibleId="@Model.BibleId">Back to Book Lists</a>
    <br />
    <a asp-page="Index">PBE Home</a>
</div>

@section Scripts {
    <partial name="_AddEditMultiple" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
