@page
@model BiblePathsCore.Pages.PBE.EditQuestionModel

@{
    ViewData["Title"] = "Add a Question";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["VerseCount"] = Model.Question.Verses.Count;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <span>
                @if (Model.IsCommentary)
                {
                    <strong>SDA Bible Commentary for @Model.Question.BookName</strong>
                    @if (Model.CommentaryQuestionCount > 0)
                    {
                        <a asp-page="Questions" asp-route-BibleId="@Model.Question.BibleId" asp-route-BookNumber="@Model.Question.BookNumber" asp-route-Chapter="@Model.Question.Chapter">
                            <span class="badge badge-secondary">@Model.CommentaryQuestionCount</span>
                        </a>
                    }
                }
                else
                {
                    <strong>@Model.Question.BookName @Model.Question.Chapter</strong>
                    @if (Model.ChapterQuestionCount > 0)
                    {
                        <a asp-page="Questions" asp-route-BibleId="@Model.Question.BibleId" asp-route-BookNumber="@Model.Question.BookNumber" asp-route-Chapter="@Model.Question.Chapter">
                            <span class="badge badge-secondary">@Model.ChapterQuestionCount</span>
                        </a>
                    }
                }
            <a class="small" asp-page="/Shared/SelectChapter" asp-route-BibleId="@Model.Question.BibleId" asp-route-TargetPage="/PBE/AddQuestion">  Change Book/Chapter  </a>
                <br />
            </span>
            <br />
            @foreach (var Verse in Model.Question.Verses)
            {
                <div class="text-verse" id="text-@Verse.Verse" onclick="SelectVerse(@Verse.Verse)">
                    <span><sup>@Verse.Verse </sup>@Verse.Text </span>
                    @if (Model.IsCommentary == false)
                    {
                        @if (Verse.QuestionCount > 0)
                        {
                            <a asp-page="Questions" asp-route-BibleId="@Model.Question.BibleId" asp-route-BookNumber="@Model.Question.BookNumber" asp-route-Chapter="@Model.Question.Chapter" asp-route-Verse="@Verse.Verse">
                                <span class="badge badge-secondary">@Verse.QuestionCount</span>
                            </a>
                        }
                    }
                    else
                    {
                        @if (Model.CommentaryQuestionCount > 0)
                        {
                            <a asp-page="Questions" asp-route-BibleId="@Model.Question.BibleId" asp-route-BookNumber="@Model.Question.BookNumber" asp-route-Chapter="@Model.Question.Chapter" asp-route-Verse="@Verse.Verse">
                                <span class="badge badge-secondary">@Model.CommentaryQuestionCount</span>
                            </a>
                        }
                    }
                </div>
            }
        </div>
        <div class="col-5">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="container-fluid follow-scroll">
                    <div class="row">
                        <div class="input-group input-group-sm mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Points</span>
                            </div>
                            <select asp-for="Question.Points" asp-items="ViewBag.PointsSelectList" class="form-control scroll-box" onchange="UpdateQuestionPreview()"></select>
                        </div>
                        <span asp-validation-for="Question.Points" class="text-danger"></span>
                    </div>
                    <div class="row">
                        @if (Model.IsCommentary)
                        {<span>According to the SDA Bible Commentary for <strong>@Model.Question.BookName</strong></span> }
                        else
                        {<span>According to <strong>@Model.Question.BookName @Model.Question.Chapter</strong></span>}
                        </div>
                        @if (Model.IsCommentary)
                        {
                            <input type="hidden" asp-for="Question.StartVerse" />
                            <input type="hidden" asp-for="Question.EndVerse" />
                        }
                        else
                        {
                            <div class="row">
                                <div class="mb-0 input-group input-group-sm form-inline form-group">
                                    <select asp-for="Question.StartVerse" asp-items="ViewBag.VerseSelectList" class="form-control" onchange="UpdateQuestionPreview()"></select>
                                    <span> - </span>
                                    <select asp-for="Question.EndVerse" asp-items="ViewBag.VerseSelectList" class="form-control" onchange="UpdateQuestionPreview()"></select>
                                </div>
                            </div>
                        }
                    <div class="row">
                        <div class="mb-0 input-group input-group-sm form-group">
                            <textarea asp-for="Question.Question" rows="4" onkeyup="UpdateQuestionPreview()" placeholder="Question" class="scroll-box"> </textarea>
                            <span asp-validation-for="Question.Question" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-muted">
                            <span>PBE Question Preiew:</span>
                            <div id="QuestionPreview" class="text-success"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-0 input-group input-group-sm form-group">
                            <textarea asp-for="AnswerText" rows="2" placeholder="Answer" class="scroll-box"> </textarea>
                            <span asp-validation-for="AnswerText" class="text-danger"></span>
                        </div>
                    </div>
                    <div classs="row">
                        <div class="form-group">
                            <input type="hidden" asp-for="Question.Id" />
                            <input type="hidden" asp-for="Question.BookNumber" />
                            <input type="hidden" asp-for="Question.Chapter" />
                            <input type="hidden" asp-for="Question.BibleId" />
                            <input type="submit" value="Update Question" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <hr />
    <a asp-page="Questions" asp-route-BibleId="@Model.Question.BibleId" asp-route-BookNumber="@Model.Question.BookNumber" asp-route-Chapter="@Model.Question.Chapter">Back to Questions</a>
    <br />
    <a asp-page="Index">PBE Home</a>
</div>

@section Scripts {
    <partial name="_FollowScrollHelpers" />
    <partial name="_PBEVerseSelectionHelpers" />
    <partial name="_PBEQuestionHelper" model="Model.Question" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
