@page
@model BiblePathsCore.Pages.PBE.IndexModel
@{
    ViewData["Title"] = "PBE Quiz App";
}

<div class="text-left">
    <h1 class="display-4">Welcome to the @ViewData["Title"]</h1>
    <small>powered by <strong>BiblePaths.Net</strong></small>
    <br />
    <p>The Pathfinder Bible Experience (PBE) quiz app is designed for use by teams preparing for Pathfinder Bible Experience, for more information on this youth program see: <a href="https://www.clubministries.org/pathfinders/pathfinder-bible-experience/">https://www.clubministries.org/pathfinders/pathfinder-bible-experience/</a></p>
</div>
<br />
<div class="list-group list-group-flush">
    <a asp-page="/Shared/SelectChapter" asp-route-BibleId="@Model.BibleId" asp-route-TargetPage="/PBE/AddQuestion" class="list-group-item">Add PBE Questions</a>
    <a asp-page="/Shared/SelectChapter" asp-route-BibleId="@Model.BibleId" asp-route-TargetPage="/PBE/Questions" class="list-group-item">PBE Question List</a>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="Templates" asp-route-BibleId="@Model.BibleId" class="list-group-item">My Quiz Templates</a>
        <a asp-page="BookLists" asp-route-BibleId="@Model.BibleId" class="list-group-item">Manage PBE Book Lists</a>
    }
</div>

<div class="card m-2">
    <div class="card-body">
        @await Component.InvokeAsync("BookQuestionCounts")
    </div>
</div>

<div class="text-left">
    <br />
    <p>Learn more <a asp-page="./about">about Bible Paths</a>.</p>
</div>

