@page
@model BiblePathsCore.Pages.PBE.IndexModel
@{
    ViewData["Title"] = "PBE Quiz App";
}

<div class="text-left">
    <h1 class="display-4">Welcome to the @ViewData["Title"]</h1>
    <small>powered by <strong>BiblePaths.Net</strong></small>
    <br />
    <p>The Pathfinder Bible Experience (PBE) quiz app is designed for use by teams preparing for Pathfinder Bible Experience, for more information on this youth program see: <a href="https://nadpbe.org/">https://nadpbe.org/</a></p>
</div>
<br />
<div class="list-group list-group-flush">
    <span class="list-group-item"><a asp-page="Quizzes" asp-route-BibleId="@Model.BibleId" class="btn btn-light btn-sm font-weight-bold" >Host a Quiz</a> Start or continue a quiz and review results</span>
    <span class="list-group-item"><a asp-page="/Shared/SelectChapter" asp-route-BibleId="@Model.BibleId" asp-route-TargetPage="/PBE/AddQuestion" class="btn btn-light btn-sm font-weight-bold">Add PBE Questions</a> Choose a Book and Chapter then add some PBE Questions for all to use</span>
    <span class="list-group-item"><a asp-page="/Shared/SelectChapter" asp-route-BibleId="@Model.BibleId" asp-route-TargetPage="/PBE/Questions" class="btn btn-light btn-sm font-weight-bold">PBE Question List</a> Choose a Book and Chapter to review qustions and resolve challenges to questions</span>
</div>
<br />
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="Templates" asp-route-BibleId="@Model.BibleId" class="btn btn-outline-primary btn-sm">My Quiz Templates</a>
        <a asp-page="ChallengedQuestions" asp-route-BibleId="@Model.BibleId" class="btn btn-outline-primary btn-sm">Review Challenged Questions</a>
        @if (Model.PBEUser != null)
        {
            @if (Model.PBEUser.IsModerator)
            {
                <a asp-page="BookLists" asp-route-BibleId="@Model.BibleId" class="btn btn-outline-primary btn-sm">Manage PBE Book Lists</a>
                <a asp-page="PBEUsers" class="btn btn-outline-primary btn-sm">Manage PBE Users</a>
            }
        }
    }
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @await Component.InvokeAsync("BookQuestionCounts")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-left">
    <br />
    <p>Learn more <a asp-page="../about">about Bible Paths</a>.</p>
</div>

