@page
@model BiblePathsCore.Pages.PBE.QuestionsModel

@{
    ViewData["Title"] = "PBE Questions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @if (Model.Verse > 0)
            {
                <a asp-page="AddQuestion" asp-route-BibleId="@Model.BibleId" asp-route-BookNumber="@Model.BookNumber" asp-route-Chapter="@Model.Chapter" asp-route-Verse="@Model.Verse">Add Question</a>
            }
            else
            {
                <a asp-page="AddQuestion" asp-route-BibleId="@Model.BibleId" asp-route-BookNumber="@Model.BookNumber" asp-route-Chapter="@Model.Chapter">Add Question</a>
            }
        </div>
    </div>
    <hr />
    @foreach (var question in Model.Questions)
    { 
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        @{string VerseRef = question.BookName + " " + question.Chapter + ": " + question.StartVerse;
                            if (question.EndVerse > question.StartVerse) { VerseRef += " - " + question.EndVerse; }
                        }
                        <span><strong>Question: </strong> @question.PBEQuestion</span> <br />
                        <span><strong>Answers: </strong></span>
                        @foreach (var answer in question.QuizAnswers)
                        {
                            <span><em>@answer.Answer</em></span> <br />
                        }
                        <span><small>Owner: @question.Owner</small></span> <br />
                        <span><small>Last Asked: @String.Format("{0:d/M/yyyy HH:mm:ss}", question.LastAsked)</small></span> <br />
                        <button data-toggle="collapse" data-target="#Verses-@question.Id" class="btn btn-link"
                                onclick="GetBibleVerses(@question.Id, @question.BookNumber, @question.Chapter, @question.StartVerse, @question.EndVerse)">
                            @VerseRef
                        </button>
                        <div id="Verses-@question.Id" class="collapse">
                            <P><small>Loading...</small></P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <hr />
    <a asp-page="/PBE/Index">Back to PBE Home</a>
</div>

@section Scripts {
    <partial name="_GetVerseText" />
}