@page
@model BiblePathsCore.Pages.PBE.QuizModel

@{
    ViewData["Title"] = Model.Quiz.GroupName;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.UserMessage != null)
{
    <div><span class="bg-light text-primary">@Model.UserMessage</span> </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <h4>Question @Model.Quiz.QuestionNumber</h4>
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="card shadow">
                <div class="card-body">
                    <h2>@Model.Question.PBEQuestion</h2>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="mb-4">
                <button class="btn btn-outline-dark" onclick="StartTimer(@Model.Question.TimeLimit)" id="StartTimerButton">Start Timer (@Model.Question.TimeLimit)</button>
            </div>
            <div class="mt-4">
                <button data-toggle="collapse" data-target="#ShowAnswers" class="btn btn-outline-danger">Show Answer</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid collapse" id="ShowAnswers">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="card shadow">
                <div class="card-body">
                    @foreach (var answer in Model.Question.QuizAnswers)
                    {
                        <h2>@answer.Answer</h2>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group input-group">
                    @*<div class="input-group-prepend">
                            <span class="input-group-text">Points</span>
                        </div>*@
                    <select asp-for="Question.PointsAwarded" asp-items="ViewBag.PointsSelectList" class="form-control"></select>
                </div>
                <div class="form-group input-group">
                    <input type="hidden" asp-for="BibleId" />
                    <input type="hidden" asp-for="Quiz.Id" />
                    <input type="hidden" asp-for="Question.Id" />
                    <input type="hidden" asp-for="Question.Type" />
                    <input id="AwardPoints" type="submit" value="Award Points" class="btn btn-primary" />
@* 
                    <div class="card mt-2">
                        <div class="card-body">
                            <span class="card-title font-weight-bold">
                                <input type="checkbox" asp-for="@Model.Question.Challenged" id="Question_Challenged" />
                                <label asp-for="@Model.Question.Challenged">Challenge?</label>
                            </span>
                            <div class="HideUnHide" style="display: none">
                                <textarea asp-for="Question.ChallengeComment" rows="2" placeholder="Comment Required" class="scroll-box"> </textarea>
                                <span asp-validation-for="Question.ChallengeComment" class="text-danger"></span><br />
                                <small class="text-info">A Challenged question is taken out of rotation until it has been reviewed and the challenge removed.</small>
                            </div>
                        </div>
                    </div> *@
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <br />
            <button type="button" id="BtnChallengeQuestion" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#ChallengeModal">
                Challenge Question
            </button>
            <p><small class="text-info">You should only challenge a question if you feel the Question or Answer are incorrect or the question does not conform to PBE standards.</small></p>
            <div class="modal fade" id="ChallengeModal" tabindex="-1" role="dialog" aria-labelledby="Challenge Question" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Challenge Comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form asp-page="/PBE/ChallengeQuestion" method="post">
                            <div class="modal-body">
                                <textarea name="ChallengeComment" rows="4" placeholder="Challenge Comment Required" class="scroll-box" required></textarea>
                                <p><small class="text-info">A challenged question is taken out of rotation until it has been reviewed and the challenge removed.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="id" value="@Model.Question.Id" />
                                <input type="hidden" name="ReturnPath" value="Quiz" />
                                <input type="hidden" name="ReturnQuizID" value="@Model.Quiz.Id" />
                                <input type="hidden" name="QuestionType" value="@Model.Question.Type" />
                                <input type="hidden" id="PointsToAward" name="PointsToAward"/>
                                <input type="submit" value="Challenge Question" class="btn btn-danger" />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Question.Type == (int)BiblePathsCore.Models.QuestionType.AIProposed)
        {
            <div class="col-xs-12 col-sm-6">
                <p class="font-weight-bold">AI Generated Content: </p> <p>
                    We were unable to find a question for this chapter in our library so we have built one using AI.
                </p> <p class="font-weight-bold"> This can result in a poor quality question, answer and point assignment. </p> <p>
                    Please review these closely and challenge the question if you find any issues. If there are no issues, assign points as appropriate and proceed.
                </p>
            </div>
        }
    </div>

    <hr />
    <div class="row">
        @{string VerseRef = Model.Question.BookName + " " + Model.Question.Chapter + ": " + Model.Question.StartVerse;
            if (Model.Question.EndVerse > Model.Question.StartVerse) { VerseRef += " - " + Model.Question.EndVerse; }
        }
        <div class="col-xs-12 col-sm-9">

            else
            {
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                        @if (Model.Question.IsCommentaryQuestion)
                        {
                            <span class="font-weight-bold">Commentary for Reference </span>
                            <span>@Model.Question.CommentarySectionTitle</span>
                        }
                        else
                        {
                            <span class="font-weight-bold">Verses for Reference </span>
                            <span>@VerseRef</span>
                        }
                        </div>
                        <div class="card-text">
                            @foreach (var Verse in Model.Question.Verses)
                            {
                                <sup>@Verse.Verse</sup>@Verse.Text<br />
                            }
                            <br />
                            <div class="text-muted">
                                @Model.Question.LegalNote
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12 col-sm-3">
            <span class="font-weight-bold">Quiz Stats</span><br />
            <span class="pl-2">Points Awarded - @Model.Quiz.PointsAwarded</span><br />
            <span class="pl-2">Points Possible - @Model.Quiz.PointsPossible</span><br />
            <span class="pl-2">Percentage - @Model.Quiz.Percentage%</span>
        </div>
    </div>
</div>

<div>
    <hr />
    <a asp-page="/PBE/Quizzes">Back to Quizzes</a>
    <br />
    <a asp-page="/PBE/Index">Back to PBE Home</a>
</div>

@section Scripts {
    <partial name="_QuizHelpers" />
    @* <partial name="_HideUnHide" /> *@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}