@page
@model BiblePathsCore.Pages.PBE.QuizzesModel

@{
    ViewData["Title"] = "My Quizzes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.UserMessage != null)
{
    <div><span class="bg-light text-primary">@Model.UserMessage</span></div>
}

<div class="container-fluid">
    <div class="row">
        <div id="Quizzes">
            <br />
            <h4>@ViewData["Title"]</h4>
            <span class="text-muted">
                Quizzes can be single-use or span multiple sessions, they can be for a PBE Team or an individual. A Quiz can be on a Book, 
                Book List or a Quiz Template. 
                <br /> In a standard <strong>Quiz</strong> the host determines the number of points awarded for each question. 
                <br /> In a <strong>Mock Quiz</strong> no points are awarded, this can be useful in a multiple team setting. 
                <br />In each case, per book/chapter statistics and history are maintained alongside of the Quiz.
            </span>
            <div class="row">
                <div class="col-12">
                    <br />
                    <h6>
@*                         <a asp-page="AddQuiz" asp-route-BibleId="@Model.BibleId">Add a Quiz</a> *@
                           <a href="/PBE/Quiz/Manage?BibleId=@Model.BibleId">Add a Quiz</a>
                    </h6>
                    <br />
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Book/Template</th>
                        <th>Team</th>
                        <th>Stats</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var quiz in Model.Quizzes)
                    {
                        <tr>
                            <td>
                                <a asp-page="/PBE/Quiz" asp-route-QuizId="@quiz.Id" asp-route-BibleId="@Model.BibleId">@quiz.GroupName</a>
                            </td>
                            <td>@quiz.BookOrTemplateName</td>
                            <td>@quiz.TeamName</td>
                            <td>
                                <a asp-page="/PBE/QuizStats" asp-route-BibleId="@Model.BibleId" asp-route-QuizId="@quiz.Id">
                                    <span>
                                        Questions Answered - @quiz.QuestionsAsked <br />
                                        Score - @quiz.Percentage%
                                    </span>
                                </a>
                                <br />
@*                                 <a asp-page="/PBE/QuizStats" asp-route-BibleId="@Model.BibleId" asp-route-QuizId="@quiz.Id" class="btn btn-outline-primary btn-sm">
                                    Details
                                </a> *@
                            </td>
                            <td>
                                <a asp-page="/PBE/Quiz" asp-route-QuizId="@quiz.Id" asp-route-BibleId="@Model.BibleId" class="btn btn-outline-primary btn-sm">
                                   Quiz
                                </a>
                                <a asp-page="./MockQuiz/MockQuiz" asp-route-BibleId="@Model.BibleId" asp-route-QuizId="@quiz.Id" class="btn btn-outline-primary btn-sm">
                                    Mock Quiz
                                </a>
                                <br />
                                <a asp-page="/PBE/QuizHistory" asp-route-BibleId="@Model.BibleId" asp-route-QuizId="@quiz.Id" class="btn btn-outline-primary btn-sm">
                                    Quiz History
                                </a>
                                <a href="/PBE/Quiz/Manage/@quiz.Id?BibleId=@Model.BibleId" class="btn btn-outline-primary btn-sm">
                                    Edit Quiz
                                </a>
                                <br />

                                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#DeleteModal-@quiz.Id">
                                    Delete Quiz
                                </button>
                                <div class="modal fade" id="DeleteModal-@quiz.Id" tabindex="-1" role="dialog" aria-labelledby="Delete Path" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Delete this Quiz?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="font-weight-bold">@quiz.GroupName</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form asp-page="/PBE/DeleteQuiz" method="post">
                                                    <input type="hidden" name="id" value="@quiz.Id" />
                                                    <input type="submit" value="Confirm" class="btn btn-danger" />
                                                </form>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-12">
                    <h6>
@*                         <a asp-page="AddQuiz" asp-route-BibleId="@Model.BibleId">Add a Quiz</a> *@
                        <a href="/PBE/Quiz/Manage?BibleId=@Model.BibleId">Add a Quiz</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <hr />
    <a asp-page="/PBE/Index">Back to PBE Home</a>
</div>

@*@section Scripts {
    <partial name="_QuizzesTabHelper" model="Model" />
}*@