@page
@model BiblePathsCore.Pages.PBE.QuizStatsModel

@{
    ViewData["Title"] = "Stats: " + Model.Quiz.GroupName;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <span>Questions - @Model.Quiz.QuestionsAsked</span><br />
            <span>Points Awarded - @Model.Quiz.PointsAwarded</span><br />
            <span>Points Possible - @Model.Quiz.PointsPossible</span><br />
            <span>Score - @Model.Quiz.Percentage%</span><br />
            <span class="text-info">Fill in the Blanks Count - @Model.Quiz.FITBQuestionCount</span>
        </div>
    </div>
    @foreach (var BookStat in Model.Quiz.BookStats.OrderBy(B => B.BookNumber))
    {
        <div class="row">
            <div class="col-12">
                <div class="card pl-4">
                    <div class="card-title">
                        <span class="font-weight-bold">@BookStat.BookName</span><br />
                        <span>Questions - @BookStat.QuestionsAsked</span><br />
                        <span>Score - @BookStat.Percentage%</span>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Chapter</th>
                                    <th>Questions</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var ChapterStat in BookStat.ChapterStats.OrderBy(C => C.Chapter))
                                {
                                <tr>
                                    <td>
                                        @if (ChapterStat.Chapter == BiblePathsCore.Models.DB.Bible.CommentaryChapter)
                                        { <span>Commentary</span>}
                                        else
                                        { @ChapterStat.Chapter }

                                    </td>
                                    <td>
                                        @ChapterStat.QuestionsAsked
                                            <button data-toggle="collapse" data-target="#Verses-@BookStat.BookNumber-@ChapterStat.Chapter" class="btn btn-outline-primary btn-sm">
                                                Show Verses
                                            </button>
                                            <div id="Verses-@BookStat.BookNumber-@ChapterStat.Chapter" class="collapse">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <table class="table table-sm">
                                                            <thead>
                                                                <tr>
                                                                    @if (ChapterStat.Chapter == BiblePathsCore.Models.DB.Bible.CommentaryChapter)
                                                                    {
                                                                        <th>Section</th>
                                                                    }
                                                                    else
                                                                    {
                                                                        <th>Verse</th>
                                                                    }
                                                                    <th>Awarded</th>
                                                                    <th>Possible</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var QuestionStat in ChapterStat.QuestionStats.OrderBy(Q => Q.VerseNum))
                                                                {
                                                                    <tr>
                                                                        <td><small>@QuestionStat.VerseSectionName</small></td>
                                                                        <td><small>@QuestionStat.PointsAwarded</small></td>
                                                                        <td><small>@QuestionStat.PointsPossible</small></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                    </td>
                                    <td>@ChapterStat.Percentage%
                                        @if (ChapterStat.TeamMembers != null){
                                            <br />
                                            @foreach (var Member in ChapterStat.TeamMembers)
                                            {
                                                <span class="badge badge-light">@Member.Name</span>
                                            }
                                        }

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <hr />
    <a asp-page="/PBE/Quizzes">Back to Quizzes</a>
    <br />
    <a asp-page="/PBE/Index">Back to PBE Home</a>
</div>