@model BiblePathsCore.Pages.Shared.SelectChapterModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h4>Old Testament</h4>
@foreach (var book in Model.BibleBooks)
{
    if (book.TestamentNumber == 1)
    {
        <button type="button" class="btn btn-light btn-sm mb-2" data-toggle="modal" data-target="#Book-@book.BookNumber">
            @book.Name
        </button>
        <!-- The Chapter list as a Modal -->
        <div class="modal" id="Book-@book.BookNumber">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">@book.Name: Select a Chapter</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @foreach (var chapter in book.BibleChapters)
                        {
                            switch (Model.TargetPage)
                            {
                                case "/Steps/AddStep":
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-PathId="@Model.PathId" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber" asp-route-Position="@Model.StepPosition">@chapter.ChapterNumber</a>
                                    break;

                                case "/Steps/EditStep":
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-Id="@Model.StepId" asp-route-PathId="@Model.PathId" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber" asp-route-Position="@Model.StepPosition">@chapter.ChapterNumber</a>
                                    break;

                                case "/Steps/Step": // This is the study scnenario.
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber">@chapter.ChapterNumber</a>
                                    break;

                                case "/PBE/AddQuestion":
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber">@chapter.ChapterNumber</a>
                                    break;

                                case "/PBE/Questions":
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber">@chapter.ChapterNumber</a>
                                    break;

                                default:
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-PathId="@Model.PathId" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber" asp-route-Position="@Model.StepPosition">@chapter.ChapterNumber</a>
                                    break;
                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Back to the Books</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<hr />
<h4>New Testament</h4>
@foreach (var book in Model.BibleBooks)
{
    if (book.TestamentNumber == 2)
    {
        <button type="button" class="btn btn-light btn-sm mb-2" data-toggle="modal" data-target="#Book-@book.BookNumber">
            @book.Name
        </button>
        <!-- The Chapter list as a Modal -->
        <div class="modal" id="Book-@book.BookNumber">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">@book.Name: Select a Chapter</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @foreach (var chapter in book.BibleChapters)
                        {
                            switch (Model.TargetPage)
                            {
                                case "/Steps/AddStep":
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-PathId="@Model.PathId" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber" asp-route-Position="@Model.StepPosition">@chapter.ChapterNumber</a>
                                    break;

                                case "/Steps/EditStep":
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-Id="@Model.StepId" asp-route-PathId="@Model.PathId" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber" asp-route-Position="@Model.StepPosition">@chapter.ChapterNumber</a>
                                    break;

                                case "/Steps/Step": // This is the study scnenario.
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber">@chapter.ChapterNumber</a>
                                    break;

                                case "/PBE/AddQuestion":
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber">@chapter.ChapterNumber</a>
                                    break;

                                case "/PBE/Questions":
                                    <a class="btn btn-light btn-sm mb-2" asp-page="@Model.TargetPage" asp-route-BibleId="@Model.Bible.Id" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber">@chapter.ChapterNumber</a>
                                    break;

                                default:
                                    <a class="btn btn-light btn-sm mb-2" asp-page="AddStep" asp-route-BibleId="@Model.Bible.Id" asp-route-PathId="@Model.PathId" asp-route-BookNumber="@book.BookNumber" asp-route-Chapter="@chapter.ChapterNumber" asp-route-Position="@Model.StepPosition">@chapter.ChapterNumber</a>
                                    break;
                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Back to the Books</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

