@page
@model BiblePathsCore.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paths</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.ComputedRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.ComputedRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.Modified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.Modified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.OwnerBibleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.OwnerBibleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.Topics)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.Topics)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.IsPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.IsPublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.IsPublicEditable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.IsPublicEditable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.StepCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.StepCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paths.Reads)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paths.Reads)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Paths.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
