@page
@model BiblePathsCore.IndexModel

@{
    ViewData["Title"] = "Bible Paths";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    @foreach (var item in Model.Paths)
    {
    <div class="row">
        <div class="col-8">
            <div class="card mb-2 mr-0">
                <div class="card-body">
                    <strong><a asp-page="/Steps/Step" asp-route-id="@item.FirstStepId">@item.Name</a></strong>
                    <small> @item.Topics</small>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-2 ml-0">
                <div class="card-body">
                    <small>Length: @item.Length min</small><br />
                    <small><strong>Rating: </strong>@item.ComputedRating</small><br />
                    <small>Reads: @item.Reads</small>
                </div>
            </div>
        </div>
    </div>
    }
</div>

<div>
    <hr />
    <a asp-page="./MyPaths" >Build a Path of your own</a><br />
    <a asp-page="/Index" >Back to Home</a>
</div>