@page
@model BiblePathsCore.MyPathsModel

@{
    ViewData["Title"] = "My Paths";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a asp-page="Create">Create New</a>
            <div class="float-right">
                <input type="checkbox" id="UnHide" /> Show Published Paths
            </div>
        </div>
    </div>
    <hr />
    @foreach (var item in Model.Paths)
    {
        if (item.IsPublished == false)
        {
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <strong><a asp-page="./steps" asp-route-PathId="@item.Id">@item.Name</a></strong>
                            <small> @item.Topics</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button data-toggle="collapse" data-target="#Details-@item.Id" class="btn btn-link">Details</button>
                    <div id="Details-@item.Id" class="collapse">
                        <small>Length: @item.Length min</small><br />
                        <small><strong>Rating: </strong>@item.ComputedRating</small><br />
                        <small>Reads: @item.Reads</small><br />
                        <small>Public Editable: @Html.DisplayFor(modelItem => item.IsPublicEditable)</small><br>
                        <small>Created: @Html.DisplayFor(modelItem => item.Created)</small><br />
                        <small>Modified: @Html.DisplayFor(modelItem => item.Modified)</small>
                    </div>
                </div>
                <div class="col">
                    <a class="btn btn-outline-primary" asp-page="./Publish" asp-route-id="@item.Id">Publish</a>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Path Settings</a>
                </div>
            </div>
        }
        else
        {
            <div class="row HideUnHide" style="display: none">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <strong><a asp-page="./steps" asp-route-PathId="@item.Id">@item.Name</a></strong>
                            <small> @item.Topics</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button data-toggle="collapse" data-target="#Details-@item.Id" class="btn btn-link">Details</button>
                    <div id="Details-@item.Id" class="collapse">
                        <small>Length: @item.Length min</small><br />
                        <small><strong>Rating: </strong>@item.ComputedRating</small><br />
                        <small>Reads: @item.Reads</small><br />
                        <small>Public Editable: @Html.DisplayFor(modelItem => item.IsPublicEditable)</small><br>
                        <small>Created: @Html.DisplayFor(modelItem => item.Created)</small><br />
                        <small>Modified: @Html.DisplayFor(modelItem => item.Modified)</small>
                    </div>
                </div>
                <div class="col">
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Path Settings</a>
                </div>
            </div>
        }
    }


    @*<div class="row"><strong>UnPublished Paths</strong></div>
        @foreach (var item in Model.Paths)
        {
            if (item.IsPublished == false)
            {
                <div class="row">
                    <div class="col-6">
                        <strong><a asp-page="./steps" asp-route-PathId="@item.Id">@item.Name</a></strong>
                        <span> - @item.Topics</span>
                    </div>
                    <div class="col">
                        <button data-toggle="collapse" data-target="#Details-@item.Id" class="btn btn-link">Details</button>
                        <div id="Details-@item.Id" class="collapse">
                            <small>Length: @item.Length min</small><br />
                            <small><strong>Rating: </strong>@item.ComputedRating</small><br />
                            <small>Reads: @item.Reads</small><br />
                            <small>Public Editable: @Html.DisplayFor(modelItem => item.IsPublicEditable)</small><br>
                            <small>Created: @Html.DisplayFor(modelItem => item.Created)</small><br />
                            <small>Modified: @Html.DisplayFor(modelItem => item.Modified)</small>
                        </div>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-primary" asp-page="./Publish" asp-route-id="@item.Id">Publish</a> <br />
                        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <br />
                    </div>
                </div>
            }
        }
        <div class="row"><strong>Published Paths</strong></div>
        @foreach (var item in Model.Paths)
        {
            if (item.IsPublished == true)
            {
                <div class="row">
                    <div class="col-6">
                        <strong><a asp-page="./steps" asp-route-PathId="@item.Id">@item.Name</a></strong>
                        <span> - @item.Topics</span>
                    </div>
                    <div class="col">
                        <button data-toggle="collapse" data-target="#Details-@item.Id" class="btn btn-link">Details</button>
                        <div id="Details-@item.Id" class="collapse">
                            <small>Length: @item.Length min</small><br />
                            <small><strong>Rating: </strong>@item.ComputedRating</small><br />
                            <small>Reads: @item.Reads</small><br />
                            <small>Public Editable: @Html.DisplayFor(modelItem => item.IsPublicEditable)</small><br>
                            <small>Created: @Html.DisplayFor(modelItem => item.Created)</small><br />
                            <small>Modified: @Html.DisplayFor(modelItem => item.Modified)</small>
                        </div>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Settings</a> <br />
                    </div>
                </div>
            }
        }*@

</div>

<div>
    <hr />
    <a asp-page="/Index">Back to Home</a>
</div>

@section Scripts {
    <partial name="_HideUnHide" />
}