@page
@model BiblePathsCore.StepsModel

@{
    ViewData["Title"] = "Steps: " + Model.Path.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <p>
            <a asp-page="/Steps/SelectChapter" asp-route-BibleId="@Model.Bible.Id" asp-route-PathId="@Model.Path.Id" asp-route-Position="0">Add a Step</a>
        </p>

        @foreach (var Node in Model.PathNodes)
        {
            <div class="card">
                <div class="card-body">
                    @{string VerseRef = Node.BookName + " " + Node.Chapter + ": " + Node.StartVerse;
                        if (Node.EndVerse > Node.StartVerse) { VerseRef += " - " + Node.EndVerse; }
                    }
                    <p class="card-title">@VerseRef</p>
                    @foreach (var Verse in Node.Verses)
                    {
                        <p class="card-text"><sup>@Verse.Verse</sup>@Verse.Text</p>
                    }
                </div>
            </div>
            <p>
                <a asp-page="/Steps/SelectChapter" asp-route-BibleId="@Model.Bible.Id" asp-route-PathId="@Model.Path.Id" asp-route-Position=@Node.Position>Add a Step</a>
            </p>
        }
    </div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PathNodes[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathNodes[0].BookNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathNodes[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathNodes[0].StartVerse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathNodes[0].EndVerse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathNodes[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathNodes[0].Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathNodes[0].Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PathNodes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartVerse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndVerse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
