@page
@model BiblePathsCore.AddStepModel

@{
    ViewData["Title"] = "Add a Step";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["VerseCount"] = Model.Step.Verses.Count;
 }

<div class="container-fluid">
    <div class="row">
        <h4>@ViewData["Title"]: @Model.Path.Name</h4>
        <hr />
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h4>@Model.Step.BookName @Model.Step.Chapter</h4>
            @foreach (var Verse in Model.Step.Verses)
            {
                <div class="text-verse" id="text-@Verse.Verse" onclick="SelectVerse(@Verse.Verse)">
                    <sup>@Verse.Verse </sup>@Verse.Text
                </div>
            }
        </div>
        <div class="col-sm-4">
            <div class="card follow-scroll">
                <div class="card-body">
                    <p class="card-title">@Model.Step.BookName @Model.Step.Chapter</p>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            Verse
                            <select asp-for="Step.StartVerse" asp-items="ViewBag.VerseSelectList" class="form-control"></select>
                            <span asp-validation-for="Step.StartVerse" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            to
                            <select asp-for="Step.EndVerse" asp-items="ViewBag.VerseSelectList" class="form-control"></select>
                            <span asp-validation-for="Step.EndVerse" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="Step.PathId" />
                            <input type="hidden" asp-for="Step.BookNumber" />
                            <input type="hidden" asp-for="Step.Chapter" />
                            <input type="hidden" asp-for="Step.Position" />
                            <input type="submit" value="Add Step" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_FollowScrollHelpers" />
    <partial name="_VerseSelectionHelpers" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
