@page
@model BiblePathsCore.SelectChapterModel

@{
    ViewData["Title"] = "Select a Book then Chapter";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["BibleId"] = Model.Bible.Id;
    ViewData["PathId"] = Model.Path.Id;
    ViewData["StepPosition"] = Model.StepPosition;
    ViewData["TargetPage"] = "AddStep";
}

<div class="container">
    <partial name="_BookChapterSelectList" model="@Model.BibleBooks" />
</div>


@*<h1>SelectChapters</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BibleBooks[0].Testament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BibleBooks[0].TestamentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BibleBooks[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BibleBooks[0].Chapters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BibleBooks[0].Bible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BibleBooks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Testament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestamentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bible.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
