@page
@model BiblePathsCore.StepModel

@{
    ViewData["Title"] = Model.PageTitle;
    ViewBag.NoIndex = true;
    ViewBag.LoadIcons = true;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                @if (Model.Scenario != StepModel.StepScenarios.Study)
                {
                    <form method="get" class="float-right">
                        <input type="hidden" name="id" value="@Model.Step.Id" />
                        <select asp-for="BibleId" asp-items="Model.BibleSelectList" class="form-control" onchange="this.form.submit()"></select>
                    </form>
                }
                else
                {
                    <form method="get" class="float-right">
                        <input type="hidden" name="BookNumber" value="@Model.Step.BookNumber" />
                        <input type="hidden" name="Chapter" value="@Model.Step.Chapter" />
                        <select asp-for="BibleId" asp-items="Model.BibleSelectList" class="form-control" onchange="this.form.submit()"></select>
                    </form>
                }
            </div>
        </div>
        <br />
        <div class="row">
            @if (Model.Step.PrevChapter > 0)
            {<a asp-page="Step" asp-route-id="@Model.Step.Id" asp-route-BibleId="@Model.BibleId" asp-route-BookNumber="@Model.Step.BookNumber" asp-route-Chapter="@Model.Step.PrevChapter">Previous Chapter</a> }
            else
            { <a class="disabled">Previous Chapter</a>}
        </div>
        @if (Model.Scenario == StepModel.StepScenarios.Step || Model.Scenario == StepModel.StepScenarios.Context)
        {
            <div class="row">
                <div class="col-1"></div>
                <div class="col-9">
                    <span>
                        <strong>@Model.Step.BookName&nbsp;@Model.Step.Chapter</strong>
                        <small> (step @Model.Step.StepNumber of @Model.Step.PathStepCount)</small>
                    </span>
                    @if (Model.Scenario == StepModel.StepScenarios.Step)
                    {
                        <div class="float-right">
                            <input type="checkbox" class="ShowChapter" onclick="ShowChapter_Change(this)" /><span> Show entire chapter</span>
                        </div>
                    }
                </div>
                <div class="col-2"></div>
            </div>
        }
        <div class="row">
            <div class="col-1">
                <div class="follow-scroll">
                    @if (Model.Scenario != StepModel.StepScenarios.Study)
                    {
                        @if (Model.Step.BWStepId > 0)
                        {
                            <div class="font-weight-bolder text-nowrap">
                                <a asp-page="Step" asp-route-id="@Model.Step.BWStepId" asp-route-BibleId="@Model.BibleId"><i class="fas fa-arrow-left fa-lg"></i></a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-9">
                @if (Model.Scenario == StepModel.StepScenarios.Step)
                {
                <span class="text-verse">
                    @foreach (var item in Model.Step.Verses)
                        {
                            if (item.InPath)
                            {
                    <br /><sup>@item.Verse</sup>
                    <mark>@item.Text</mark>
                            }
                            else
                            {
                                if (item.Proximity == 1)
                                {
                    <font class="text-proximity1">
                        <br /><sup>@item.Verse</sup>
                        @item.Text
                    </font>
                                }
                                if (item.Proximity == 2)
                                {
                    <font class="text-proximity2">
                        <br /><sup>@item.Verse</sup>
                        @item.Text
                    </font>
                                }
                                if (item.Proximity > 2)
                                {
                    <font class="text-proximity3" style="display: none">
                        <br /><sup>@item.Verse</sup>
                        @item.Text
                    </font>
                                }
                            }
                        }
                </span>
                }
                else
                {
                <span class="text-verse">
                    @foreach (var item in Model.Step.Verses)
                        {
                            if (Model.Scenario == StepModel.StepScenarios.Study)
                            {
                                if (item.InRelatedPaths)
                                {
                    <br /><sup>@item.Verse</sup>
                    <mark>@item.Text</mark>
                                    foreach (var relatedPath in item.RelatedPaths)
                                    {
                    <small class="float-right"><a asp-page="/Steps/Step" asp-route-id="@relatedPath.FirstStepId">@relatedPath.Name</a></small>
                                    }
                                }
                                else
                                {
                    <br /><sup>@item.Verse</sup>
                    @item.Text
                                }
                            }
                            else
                            {
                    <br /><sup>@item.Verse</sup>
                    @item.Text
                            }
                        }
                </span>
                }
                <div class="row text-muted">
                    @Model.Step.LegalNote
                </div>
            </div>
            <div class="col-2">
                <div class="follow-scroll">
                    @if (Model.Scenario != StepModel.StepScenarios.Study)
                    {
                        @if (Model.Step.FWStepId > 0)
                        {
                            <div class="font-weight-bolder text-nowrap">
                                <a asp-page="Step" asp-route-id="@Model.Step.FWStepId" asp-route-BibleId="@Model.BibleId"><i class="fas fa-arrow-right fa-lg"></i></a>
                            </div>
                        }
                        else
                        {
                            <div class="font-weight-bolder text-nowrap">
                                <a asp-page="/Paths/PathCompleted" asp-route-id="@Model.Step.PathId"><i class="fas fa-arrow-right fa-lg"></i></a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @if (Model.Step.NextChapter > 0)
                {<a asp-page="Step" asp-route-id="@Model.Step.Id" asp-route-BibleId="@Model.BibleId" asp-route-BookNumber="@Model.Step.BookNumber" asp-route-Chapter="@Model.Step.NextChapter">Next Chapter</a> }
                else
                { <a class="disabled">Next Chapter</a>}
            </div>
            <div class="col-6">
                @if (Model.Scenario != StepModel.StepScenarios.Study)
                {
                    <div class="float-right">
                        <a asp-page="/Paths/Steps" asp-route-PathId="@Model.Step.PathId" asp-route-BibleId="@Model.BibleId" asp-route-Scenario="ReadPath">Full Bible Path</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        <hr />
        <a asp-page="/Paths/Index">Back to Path List</a>
        <br />
        <a asp-page="/Index">Back to Home</a>
    </div>

@section Scripts {
    <partial name="_FollowScrollHelpers" />
    <partial name="_ShowChapterHelper" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
