@page
@model BiblePathsCore.Pages.PBE.ConfigureTemplateModel

@{
    ViewData["Title"] = "Configure Quiz Template";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Template Name</span>
                    </div>
                    <input asp-for="@Model.Template.QuizName" class="form-control" />
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.isShared" /> <span>Share this template with others?</span>
                    </label>
                    <span class="small">Other users will be able to view and make copies of this quiz template.</span>
                </div>
                <input type="hidden" asp-for="@Model.Template.Id" />
                <input type="hidden" asp-for="@Model.Template.Type" />
                <span asp-validation-for="@Model.Template.QuizName" class="text-danger"></span>

                @for (var i = 0; i < Model.Questions.Count; i++)
                {
                    <div id="AddQuestion-@i">
                        <div class="form-group form-inline input-group">
                            <span><strong>@Model.Questions[i].QuestionNumber </strong>- </span>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Book</span>
                            </div>
                            <input type="hidden" asp-for="@Model.Questions[i].QuestionNumber" />
                            <select asp-for="@Model.Questions[i].BookNumber" asp-items="ViewBag.BookSelectList" class="form-control" id="BookSelect-@i" onchange="UpdateOptions(@i)"></select>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Chapter</span>
                            </div>
                            <select asp-for="@Model.Questions[i].Chapter" asp-items="@Model.Questions[i].ChapterSelectList" class="form-control" id="ChapterSelect-@i"></select>
                        </div>
                    </div>
                }
                <div class="form-group input-group">
                    <input type="hidden" asp-for="BibleId" />
                    <input type="submit" value="Save Quiz Template" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <a href="#AdvancedEdit" data-toggle="collapse">Advanced Editor</a>
    </div>
    <div id="AdvancedEdit" class="row collapse">
        <div class="col-8">
            <textarea id="JSONText" rows="5" cols="50"></textarea>
            <br />
            <span>
                Format: <code>[{"BookName":"&lt;Book Name&gt;","Chapter":3},...]</code>
                <br />
                Example: <code>[
                {"BookName":"Hebrews","Chapter":3},<br />
                {"BookName":"1 Peter", "Chapter":2}
                ]</code>
                <br />
                Note: <code>0 = "Random Chapter", 1000 = "Bible Commentary"</code>
            </span>
        </div>
        <div class="col-4">
            <input type="button" value="Apply Question Changes" onclick="ApplyJSON()" />
            <br />
            <div id="DebugDiv"></div>
        </div>
    </div>
</div>

<div>
    <hr />
    <a asp-page="../Quizzes" asp-route-BibleId="@Model.BibleId" asp-route-Tab="#Templates">Back to My Quizzes</a>
    <br />
    <a asp-page="../Index">PBE Home</a>
</div>

@section Scripts {
    <partial name="_DynamicChapterSelect" model="@Model"/>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
