@page
@model BiblePathsCore.Pages.PBE.TemplatesModel

@{
    ViewData["Title"] = "My Quiz Templates";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.UserMessage != null)
{
    <div><span class="bg-light text-primary">@Model.UserMessage</span> </div>
}
<h4>@ViewData["Title"]</h4>
<span class="text-info">
    Quiz Templates allow a host greater control over the books and chapters that questions will be taken from for a quiz.
    A template serves as a pattern that is repeated throughout the quiz, the more times a book/chapter appear in the template the
    more times they will appear in a quiz.
</span>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a asp-page="AddTemplate" asp-route-BibleId="@Model.BibleId">Add a Template</a>
        </div>
    </div>
    <hr />
    @foreach (var Template in Model.Templates)
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <span><strong>@Template.QuizName</strong></span>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-outline-primary btn-sm" asp-page="ConfigureTemplate" asp-route-BibleId="@Model.BibleId" asp-route-Id="@Template.Id">Configure Template</a>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#DeleteModal-@Template.Id">
                            Delete
                        </button>
                        <div class="modal fade" id="DeleteModal-@Template.Id" tabindex="-1" role="dialog" aria-labelledby="Delete Path" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Delete this Template?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="font-weight-bold">@Template.QuizName</p>
                                        <br />
                                        <p class="font-italic">By deleting this template any Quizzes that reference this will no longer function and you will be unable to calculate statistics.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-page="/PBE/QuizTemplates/DeleteTemplate" method="post">
                                            <input type="hidden" name="id" value="@Template.Id" />
                                            <input type="submit" value="Confirm" class="btn btn-danger" />
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-12">
            <a asp-page="AddTemplate" asp-route-BibleId="@Model.BibleId">Add a Template</a>
        </div>
    </div>
    <hr />
    <h4>Shared Templates</h4>
    <span class="text-muted">
        These are templates that have been shared by their owners, you can copy a Shared Template for
        use in hosting your own quizzes.
    </span>
    <br />
    <button data-toggle="collapse" data-target="#SharedTemplates" class="btn btn-sm btn-info">Show Shared Templates</button>
    <div id="SharedTemplates" class="collapse">
        <hr />
        @foreach (var SharedTemplate in Model.SharedTemplates)
        {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <span><strong>@SharedTemplate.QuizName</strong></span>
                            @* <span cass="small"> [Owner: @SharedTemplate.QuizUser.Email]</span> *@
                        </div>
                        <div class="col-4">
                            <a class="btn btn-outline-primary btn-sm" asp-page="./CopyTemplate" asp-route-BibleId="@Model.BibleId" asp-route-Id="@SharedTemplate.Id">Copy Template</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    <hr />
    <a asp-page="../Index">Back to PBE Home</a>
</div>