@page
@model BiblePathsCore.Pages.Play.GroupModel

@{
    ViewData["Title"] = "Group: " + Model.Group.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.UserMessage != null)
{
    <div><span class="bg-light text-primary">@Model.UserMessage</span> </div>
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Bible Path</span>
                    </div>
                    <select asp-for="Group.PathId" asp-items="ViewBag.PathSelectList" class="form-control"></select>
                </div>
                <div class="form-group input-group">
                    <input type="hidden" asp-for="Group.Id" />
                    <input type="submit" value="Restart Group" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        @foreach (var team in Model.Group.GameTeams)
        {
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        @team.Name
                    </div>
                    <div class="Card-Body">
                        <span class="card-link">
                            <a asp-page="Team" asp-route-GroupId="@team.GroupId" asp-route-TeamId="@team.Id">
                                Team Link
                            </a>
                        </span>
                        <span class="card-link">
                            <a asp-page="Guide" asp-route-GroupId="@team.GroupId" asp-route-TeamId="@team.Id">
                                Guide Link
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <hr />
    <a asp-page="Index">PBE Home</a>
</div>

@section Scripts {
    <partial name="_AddEditMultiple-Name" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
