@page
@model BiblePathsCore.Pages.Play.GuideModel

@{
    ViewData["Title"] = "Guide: " + Model.Team.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h4>@ViewData["Title"]</h4>

@if (Model.UserMessage != null)
{
<hr />
<div><span class="bg-light text-primary">@Model.UserMessage</span> </div>
<hr />
}

<div class="container-fluid">
    <div class="row">
        <ul class="list-group list-group-horizontal">
            @foreach (var team in Model.Group.GameTeams)
            {
                <li class="list-group-item"><span class="font-weight-bold">@team.Name</span> step @team.StepNumber</li>
            }
        </ul>
    </div>

    <div class="row">
        @{string VerseRef = Model.CurrentStep.BookName + " " + Model.CurrentStep.Chapter + ": " + Model.CurrentStep.StartVerse;
            if (Model.CurrentStep.EndVerse > Model.CurrentStep.StartVerse) { VerseRef += " - " + Model.CurrentStep.EndVerse; }
        }
        <div class="card">
            <div class="card-header">
                <span class="card-title">@VerseRef</span>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @foreach (var Verse in Model.CurrentStep.Verses)
                    {
                        <sup>@Verse.Verse</sup>@Verse.Text<br />
                    }
                </p>
            </div>
        </div>
    </div>
    @if (Model.Team.BoardState == (int)BiblePathsCore.Models.DB.GameTeam.GameBoardState.WordSelect
      || Model.Team.BoardState == (int)BiblePathsCore.Models.DB.GameTeam.GameBoardState.WordSelectOffPath)
    {
        <div class="row">
            <div class="col">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <span class="text-info">
                            The Guide Word is any <span class="font-weight-bold">single word</span> that <span class="font-weight-bold">does not appear</span> in the text above.
                        </span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Guide Word</span>
                        </div>
                        <input id="GuideWord" asp-for="Team.GuideWord" class="form-control" oninput="CheckGuideWord()" />
                        <span asp-validation-for="Team.GuideWord" class="text-danger"></span>
                    </div>
                    <div>
                        <span class="text-info">
                            The Key Word is used in selecting additional verse for display to your team.
                        </span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Key Word</span>
                        </div>
                        <select asp-for="Team.KeyWord" asp-items="ViewBag.KeyWordSelectList" class="form-control"></select>
                    </div>
                    <div class="form-group input-group">
                        <input type="hidden" asp-for="Team.Id" />
                        <input id="GoButton" type="submit" value="Go!" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
    @if (Model.Team.BoardState == (int)BiblePathsCore.Models.DB.GameTeam.GameBoardState.Completed)
    {
        <div class="row">
            <div class="col">
                <h4 class="bg-info">Good Job! You've finished this Path... </h4>
                <small>BoardState: @Model.Team.BoardState  </small>
            </div>
        </div>
    }

    @if (Model.Team.BoardState == (int)BiblePathsCore.Models.DB.GameTeam.GameBoardState.StepSelect)
    {
        <div class="row">
            <div class="col">
                <h4 class="bg-warning">Waiting on your TEAM!</h4>
                <small>BoardState: @Model.Team.BoardState  </small>
            </div>
        </div>
    }

</div>

<div>
    <hr />
    <a asp-page="Group">Back to Group</a>
</div>

@section Scripts {
    <partial name="_TheGameHelpers" model="@Model.Team" />
    <partial name="_TheGameVerseHelpers" model="@Model.CurrentStep" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
