@page
@model BiblePathsCore.Pages.Play.HostModel

@{
    ViewData["Title"] = "Host: " + Model.Team.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        @{string VerseRef = Model.CurrentStep.BookName + " " + Model.CurrentStep.Chapter + ": " + Model.CurrentStep.StartVerse;
            if (Model.CurrentStep.EndVerse > Model.CurrentStep.StartVerse) { VerseRef += " - " + Model.CurrentStep.EndVerse; }
        }
        <div class="card">
            <div class="card-header">
                <span class="card-title">@VerseRef</span>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @foreach (var Verse in Model.CurrentStep.Verses)
                    {
                        <sup>@Verse.Verse</sup>@Verse.Text<br />
                    }
                </p>
            </div>
        </div>
    </div>
    @if (Model.Team.BoardState == (int)BiblePathsCore.Models.DB.GameTeam.GameBoardState.WordSelect)
    {
        <div class="row">
            <div class="col">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Guide Word</span>
                        </div>
                        <input asp-for="Team.GuideWord" class="form-control" />
                        <span asp-validation-for="Team.GuideWord" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bible Path</span>
                        </div>
                        <select asp-for="Team.KeyWord" asp-items="ViewBag.KeyWordSelectList" class="form-control"></select>
                    </div>
                    <div class="form-group input-group">
                        <input type="hidden" asp-for="Team.Id" />
                        <input type="submit" value="Go!" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col">
                <h4>Waiting on your TEAM!</h4>
                <small>BoardState: @Model.Team.BoardState  </small>
            </div>
        </div>
    }

</div>

<div>
    <hr />
    <a asp-page="Group">Back to Group</a>
</div>

@section Scripts {
    <partial name="_AddEditMultiple-Name" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
