@page
@model BiblePathsCore.Pages.Play.MyGroupsModel

@{
    ViewData["Title"] = "My Groups";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <a asp-page="AddGroup">Add a Group</a>
        </div>
    </div>
    <hr />
    @foreach (var Group in Model.Groups)
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <span>
                            <a asp-page="Group" asp-route-Id="@Group.Id">
                                <strong>@Group.Name</strong>
                            </a>
                        </span>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#DeleteModal-@Group.Id">
                            Delete
                        </button>
                        <div class="modal fade" id="DeleteModal-@Group.Id" tabindex="-1" role="dialog" aria-labelledby="Delete Path" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Delete this Group?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="font-weight-bold">@Group.Name</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-page="/Play/DeleteGroup" method="post">
                                            <input type="hidden" name="id" value="@Group.Id" />
                                            <input type="submit" value="Confirm" class="btn btn-danger" />
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <hr />
    <a asp-page="/PBE/Index">Back to PBE Home</a>
</div>